h1.svelte-aig4sm{text-align:center}div.svelte-aig4sm{margin:0 15px 0 0}rect.svelte-aig4sm{cursor:pointer}#flexbox.svelte-aig4sm{display:flex;flex-wrap:nowrap;flex-direction:column;align-items:center;justify-content:center}
